<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Forgot your password?</h1>
  </div>		
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<ul class=".navbar-left">
  	<div class="panel-body">
  		<div class="col-md-4">
		 		 <%= devise_error_messages! %>
		  		<div class="form group">
				   <%= f.label :email %><br />
				   <%= f.email_field :email, autofocus: true, class: "form-control" %>
		  		</div>
		</div>
	</div>
</ul>

	<div class="panel-footer">
		<ul class=".navbar-left">		 
		  <div class="form-group">
		    <%= f.submit "Send me reset password instructions", class: "btn btn-danger" %>
		  </div>
		</ul>
			<% end %>
		<ul class=".navbar-left">
			<%= render "devise/shared/links" %>
		</ul>
	</div>
</div<